<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="nav_bar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href=@{/}>App-Curso</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href=@{/}>INICIO</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CURSO
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/curso/lista-cursos}">Ver Cursos disponible</a></li>
                        <li><a class="dropdown-item" th:href="@{/curso}">Agregar Curso</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ALUMNO
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/estudiante/lista-alumnos}">Ver Alumnos</a></li>
                        <li><a class="dropdown-item" th:href="@{/estudiante}">Inscribir Alumno</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>